@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap");

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #16b988;
  --primary-color-dark: #12906a;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}

ul {
  list-style: none;
}

h3 {
  margin: 15px 0px;
}

button {
  width: 150px;
  background-color: var(--primary-color);
  border-radius: 6px;
  font-weight: 700;
  color: white !important;
  padding: 12px 24px;
  transition: 0.2s ease-out;
}
button:hover {
  background-color: var(--primary-color-dark);
}

/* utility classes */
.wrapper {
  min-width: 410px;
  justify-content: center;
  align-content: center;
  height: 100vh;
  background-color: var(--primary-color);
}

.container {
  max-width: 410px;
  min-width: 410px;
  flex-direction: column;
  background-color: white;
  padding: 50px;
  border-radius: 20px;
}

.flex {
  display: flex;
  align-items: center;
}

/* clock styles */
.clock-emoji {
  height: 15vh;
  width: 30vw;
  justify-content: center;
}
.clock-emoji img {
  height: 50%;
  width: auto;
}

#time-display,
span {
  display: inline-block;
}

#hrss-display,
#secs-display,
#mins-display {
  width: 55px;
  text-align: center;
}

#alarm-input,
input {
  margin: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.set-alarm-button-div {
  margin-top: 5px;
  flex-direction: column;
}

.stop-alarm-button-div {
  margin-top: 10px;
}

.newAlarm-list-item {
  justify-content: space-between;
  margin: 5px 0px;
}
.newAlarm-list-item > span {
  margin-right: 5px;
}

.delete-alarm-button {
  padding: 8px 15px;
}
