@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap");

/* add span tags in the hour mins and secs for the time display */

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
  background-color: bisque;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

h3 {
  margin-top: 25px;
}

/* utility classes */
.wrapper {
  justify-content: center;
  align-content: center;
  height: 100vh;
  background-color: #3edeae;
}

.container {
  max-width: 400px;
  /* margin-inline: auto; this will center the container */
  /* padding-inline: var(--padding-inline-section); */
  flex-direction: column;
  background-color: white;
  padding: 50px;
  border-radius: 20px;
}

.flex {
  display: flex;
  align-items: center;
}

.clock-emoji {
  height: 15vh;
  width: 30vw;
  justify-content: center;
}
.clock-emoji img {
  height: 50%;
  width: auto;
}

/* #time-display {
  text-align: center;
  width: 250px;
} */

#time-display {
  /* display: flex; */
  /* flex-direction: row; */
}
#time-display,
span {
  display: inline-block;
}

#hrss-display,
#secs-display,
#mins-display {
  /* padding: 5px; */
  width: 55px;
  text-align: center;
}

#alarm-input,
input {
  margin: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.alarm-buttons {
  flex-direction: column;
}
